.right {
  flex: 0.15;
  background-color: rgb(238, 237, 235);
  margin-top: 60px;
  margin-bottom: 20px;
  margin-right: 10px;
  display: flex;
  /*추가한 부분*/
  flex-direction: column;
}

.menu {
  flex: 1;
}

.menu-items {
  width: 90%;
  padding: 4.5px;
  margin-bottom: 10px;
  background-color: rgb(75, 127, 172);
  border: 1px solid rgb(27, 77, 122);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.menu a {
  color: white;
  font-size: 15px;
  text-decoration: none;
}
/*마우스를 가져갔을 때*/
.menu-items:hover {
  background-color: #72c3ce;
  cursor: pointer;
}

/*마우스로 클릭했을 때*/
.menu-items:active {
  box-shadow: inset 0px 2px 8px 0px rgb(27, 77, 122);
}
