body {
  background-color: #9f9d9d;
  background-image: url("../static/images/pattern.png");
  background-size: 100px;
  position: fixed;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.bookcover {
  background-color: #72c3ce;
  position: relative;
  padding: 200px 445px;
  margin: 2.5em 10.5em;
  top: 100px;
  left: 100px;
  width: 65px;
  height: 200px;
  border-radius: 10px;
}

.bookdot {
  position: absolute;
  border: 2px;
  border-radius: 10px;
  border-style: dashed;
  border-color: cornsilk;
  top: 10px;
  left: 10px;
  width: 930px;
  height: 580px;
}

.page {
  position: absolute;
  background-color: rgb(238, 237, 235);
  border-radius: 10px;

  top: 15px;
  left: 15px;
  width: 900px;
  height: 550px;
  display: flex;
}

.left {
  flex: 0.4;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.day {
  flex: 0.05;
  font-size: 12px;
  text-align: center;
}

.date {
  color: red;
}

.left_box {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
}

.img {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.Mermaid {
  text-align: center;
  font-family: "Stylish", sans-serif;
  font-size: 19px;
  font-style: italic;
  color: rgb(110, 87, 240);
}

.introduction {
  padding: 10px 10px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(238, 236, 236);
}

.CD {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  font-family: "Stylish", sans-serif;
}

.CD i {
  text-align: left;
  color: rgb(233, 84, 84);
}

.control {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(204, 202, 202);
  background-color: rgb(247, 247, 243);
}

.list {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 1.5px 4px;
  background-color: grey;
  color: white;
}

.dropdown {
  margin-left: 20px;
  margin-top: 150px;
  margin-right: 20px;
  /* 이 부분은 지워도 변동이 없어서 
  position: relative;
  display: inline-block;
  */
}

/* 파도타기 옆 세모*/
.down {
  width: 0;
  height: 0;
  margin: auto;
  margin-right: 0;
  border-left: 4.5px solid transparent;
  border-right: 4.5px solid transparent;
  border-top: 5px solid #d84f4f;
}

/*파도타기 버튼*/
.dropbtn {
  display: flex;
  justify-content: space-around;
  background-color: rgb(235, 232, 232);
  border: 1px solid rgb(182, 182, 182);
  font-size: 13px;
}

/*파도타기를 누르면 나오는 메뉴 (코뮤니티, 인스타)*/
.dropdown-menu {
  display: none;
  position: fixed;
  background-color: rgb(235, 232, 232);
  min-width: 200px 400px;
  box-shadow: 0px 5px 10px 0px grey;
}

/*메뉴는 하이퍼 링크로 만들어야 나중에 링크 삽입 가능*/
.dropdown-menu a {
  color: black;
  text-align: center;
  padding: 6px 75px;
  text-decoration: none;
  display: block;
  font-size: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* 파도타기 버튼을 눌렀을 때 배경색 변화*/
.dropdown:hover .dropbtn {
  background-color: rgb(191, 191, 191);
}

/*각 메뉴 버튼을 눌렀을 때 배경색 변화*/
.dropdown-menu a:hover {
  background-color: grey;
}

.center {
  flex: 1;
  padding: 0px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.name {
  flex: 0.05;
  font-size: 12px;
}
